<div class="myimg" id="video_contain">
<img src="../assets/img/a1.JPG" width="80%" height="70%">
</div>
<div class="contain1">
<p class="myc1">LOREM IPSUM DOLOR SIT AMET,</p>
<p class="myc2"><b>Lorem ipsum</b></p>
<p class="myc2s"><b>consectetuer adipiscing</b></p>
<div class="contain2">
<img src="../assets/img/a2.JPG" width="25%" height="25%">
<p class="myc3"><b>LOREM IPSUM<br>
CONSECTETUER ADIPISCING ELIT</b></p>
<p class="myc4">Lorem ipsum dolor sit amet, consectetuer <br>
adipiscing elit, sed diam nonummy nibh <br>
Lorem ipsum dolor sit amet</p>
</div>
<div class="contain3">
  <img src="../assets/img/a3.JPG" width="37%" height="38%">
  <p class="myc3"><b>LOREM IPSUM <br>
  CONSECTETUER ADIPISCING ELIT</b></p>
  <p class="myc4">Lorem ipsum dolor sit amet, consectetuer <br>
  adipiscing elit, sed diam nonummy nibh <br>
  Lorem ipsum dolor sit amet</p>
</div>
<div class="contain4">
    <img src="../assets/img/a4.JPG" width="70%" height="67%">
    <p class="myc3"><b>LOREM IPSUM <br>
    CONSECTETUER ADIPISCING ELIT</b></p>
    <p class="myc4">Lorem ipsum dolor sit amet, consectetuer <br>
    adipiscing elit, sed diam nonummy nibh <br>
    Lorem ipsum dolor sit amet</p>
</div>
</div>
<app-home></app-home>
<router-outlet></router-outlet>
